[Unit]
Description=Verify encryption on gdrive backup

[Service]
ReadOnlyPaths=/mnt/documents
ExecStart=/usr/bin/rclone cryptcheck /mnt/documents documents-encrypted: \
  --config /etc/rclone.conf \
  --log-level INFO \
  --stats 0 \
  --fast-list \
  --one-way
