[Unit]
Description=Backup documents to gdrive

[Service]
ReadOnlyPaths=/mnt/documents
ExecStart=/usr/bin/rclone sync /mnt/documents documents-encrypted: \
  --config /etc/rclone.conf \
  --log-level INFO \
  --stats 0 \
  --fast-list \
  --filter "+ /archived/**" \
  --filter "+ /multimedia/**" \
  --filter "+ /downloads/torrents-seeding/**" \
  --filter "- ._*" \
  --filter "- .DS_Store" \
  --filter "- *"
