[Unit]
Description=Backup documents to gdrive

[Service]
ReadOnlyPaths=/mnt/documents
ExecStartPre=/usr/bin/find /mnt/documents/ \
  -type f \
  -name '._*' -or -nane '.DS_Store' \
  -exec rm {} \;
ExecStart=/usr/bin/rclone sync /mnt/documents documents-encrypted: \
  --config /etc/rclone.conf \
  --stats 0 \
  --filter "+ /archived/**" \
  --filter "+ /multimedia/**" \
  --filter "+ /downloads/torrents-seeding/**" \
  --filter "- ._*" \
  --filter "- .DS_Store" \
  --filter "- *"
