[Unit]
Description=Verify encryption on gdrive backup
After=rclone-sync.service

[Service]
ReadOnlyPaths=/mnt/documents
ExecStart=/usr/bin/rclone cryptcheck /mnt/documents documents-encrypted: \
  --config /etc/rclone.conf \
  --log-level DEBUG \
  --stats 0 \
  --fast-list \
  --one-way
  --filter '+ /archived/**' \
  --filter '+ /multimedia/**' \
  --filter '+ /downloads/torrents-seeding/**' \
  --filter '- ._*' \
  --filter '- .DS_Store' \
  --filter '- *'
