[Unit]
Description=Monthly backup encryption verification
After=rclone-sync.service

[Timer]
# Cryptcheck is 1 hour after rclone sync on the first sunday of the month
OnCalendar=Sun *-*-01..07 06:00:00

[Install]
WantedBy=timers.target
