[Unit]
Description=Cashout current venmo balance

[Service]
Type=oneshot
TimeoutStartSec=30s
ExecStart=/usr/bin/podman run \
  --rm \
  --env-file=/etc/venmo-auto-cashout.conf \
  --env TRANSACTION_DB=/var/lib/db/transactions.db \
  --volume /var/lib/venmo-auto-cashout:/var/lib/db \
  docker.io/evanpurkhiser/venmo-auto-cashout
