[Unit]
Description=SSH agent proxy connection
Wants=container-agent-witness.service
After=container-agent-witness.service

[Service]
Type=simple
ExecStart=/usr/local/bin/ssh-agent-proxy
SuccessExitStatus=255
StandardInput=socket
StandardOutput=socket
StandardError=journal
