- name: Import common
  ansible.builtin.import_role: { name: common }

- name: Import pacsync
  ansible.builtin.import_role: { name: pacsync }

- name: Import paccache
  ansible.builtin.import_role: { name: paccache }

- name: Import systemd-timesyncd
  ansible.builtin.import_role: { name: systemd_timesyncd }

- name: Import aur
  ansible.builtin.import_role: { name: aur }

- name: Import ZFS
  tags: [zfs]
  ansible.builtin.import_role: { name: zfs }

- name: Install base packages
  tags: [packages]
  community.general.pacman:
    name:
      - man-db
      - man-pages
      - nfs-utils

      # Common tools
      - bash-completion
      - speedtest-cli
      - lsd
      - fzf
      - htop
      - atuin
      - tree
      - fd
      - ripgrep

      # Other tools
      - lm_sensors
      - speedtest-cli

      # Services
      - nginx
      - dnsmasq
      - rclone
      - rsync
      - transmission-cli
      - sentry-cli
      - tailscale
      - podman

      # Required for encrypting the transmission basic auth password
      - python-passlib

      # Required for triggering systemd sockets (transmission-helper)
      - socat

      # Languages
      - nodejs
      - npm
      - go
      - rust

# System configuration
- name: Import sshd tasks
  ansible.builtin.import_tasks: sshd.yml
  tags: [sshd]

- name: Import network tasks
  ansible.builtin.import_tasks: network.yml
  tags: [network]

- name: Import hardware tasks
  ansible.builtin.import_tasks: hardware.yml
  tags: [hardware]

- name: Import pam-ssh-agent-auth tasks
  ansible.builtin.import_tasks: pam-ssh-agent.yml
  tags: [pam-ssh-agent]

# Services
- name: Import nfs tasks
  tags: [nfs]
  ansible.builtin.import_tasks: service-nfs.yml

- name: Import tailscale tasks
  tags: [tailscale]
  ansible.builtin.import_tasks: service-tailscale.yml

- name: Import nginx tasks
  tags: [nginx]
  ansible.builtin.import_tasks: service-nginx.yml

- name: Import transmission tasks
  tags: [transmission]
  ansible.builtin.import_tasks: service-transmission.yml

- name: Import home-assistant tasks
  tags: [hass]
  ansible.builtin.import_tasks: service-hass.yml

- name: Import waitress tasks
  tags: [waitress]
  ansible.builtin.import_tasks: service-waitress.yml

- name: Import meal-log tasks
  tags: [meal-log]
  ansible.builtin.import_tasks: service-meal-log.yml

- name: Import instagram-saver tasks
  tags: [instagram-saver]
  ansible.builtin.import_tasks: service-instagram-saver.yml

- name: Import venmo-auto-cashout tasks
  tags: [venmo-auto-cashout]
  ansible.builtin.import_tasks: service-venmo-auto-cashout.yml

- name: Import venmo-lunchmoney-ai tasks
  tags: [venmo-lunchmoney-ai]
  ansible.builtin.import_tasks: service-venmo-lunchmoney-ai.yml

- name: Import atuin tasks
  tags: [atuin]
  ansible.builtin.import_tasks: service-atuin.yml

- name: Import podman-auto-update tasks
  tags: [podman-auto-update]
  ansible.builtin.import_tasks: service-podman-auto-update.yml

- name: Import rclone tasks
  ansible.builtin.import_tasks: service-rclone.yml
  tags: [rclone]

- name: Import record-file-history tasks
  ansible.builtin.import_tasks: service-record-file-history.yml
  tags: [record-file-history]

- name: Import purkhiser bot tasks
  ansible.builtin.import_tasks: service-purkhiser-bot.yml
  tags: [purkhiser-bot]

- name: Import weekly-report tasks
  ansible.builtin.import_tasks: service-weekly-report.yml
  tags: [weekly-report]

- name: Import speedtest-monitor tasks
  ansible.builtin.import_tasks: service-speedtest-monitor.yml
  tags: [speedtest-monitor]

- name: Import auto-system-update tasks
  ansible.builtin.import_tasks: service-auto-system-update.yml
  tags: [auto-system-update]

- name: Import bambulab-lights-off tasks
  ansible.builtin.import_tasks: service-bambulab-lights-off.yml
  tags: [bambulab-lights-off]
