---
- name: Ensure secrets from 1password
  command: sh {{ playbook_dir }}/makesecrets.sh
  delegate_to: 127.0.0.1
  args:
    creates: '{{ playbook_dir }}/vars/secrets.yml'

- name: Include secrets
  include_vars: '{{ playbook_dir }}/vars/secrets.yml'
