[Unit]
Description=Run a periodic IPTorrents authenticated request

[Service]
Type=oneshot
User=evan
Environment=HOME=/home/evan
ExecStart=/home/evan/.local/bin/ipt search "linux" --limit 1
