[Unit]
Description=OpenCode server
After=network-online.target import-environment.service
Wants=network-online.target
Requires=import-environment.service

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=/run/opencode-ssh-agent-proxy.sock
Environment=OPENCODE_HOST=http://localhost:9995
EnvironmentFile=-/home/evan/.config/opencode/mcp.env
ExecStart=/usr/bin/opencode serve --hostname 0.0.0.0 --port 9995
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
