---
- name: Install pacsync timer and service
  copy: src=pacsync.{{item}} dest=/etc/systemd/system/
  with_items: [ timer, service ]

- name: Enable pacsync timer service
  service: name=pacsync.timer enabled=yes
